<div ng-controller="myController">
<br>
    <div class="row MarginTB">
          <div class="col-md-4 col-md-offset-4 detailsBorder title">תיק רפואי - צמיד {{inj.id}}</div>
    </div>

    <div class="col-md-12 detailsBorder MarginTB">
      <div class="row">
          <div class="col-md-3" ng-class="{'redColor': inj.Storation > 97 || inj.Storation < 92 }">
            סטרוציה: {{inj.Storation}}
          </div>
          <div class="col-md-3">
          ל"ד: {{inj.BloodPressure}}
          </div>
          <div class="col-md-3" ng-class="{'redColor': inj.temp > 38.3 || inj.temp < 36 }">
            חום: {{inj.temp}}
          </div>
          <div class="col-md-3" ng-class="{'redColor': inj.HeartBeat > 105 }">
            דופק: {{inj.HeartBeat}}
          </div>
      </div>
    </div>

 <div class="col-md-12">
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <div class="medTble">
      <table class="table table-bordered medBackground">
        <tr class="medBackground">
          <th>שם הנוזל</th>
          <th>כמות</th>     
        </tr>
        <tr ng-repeat = "liquid in liquids">
          <td>{{liquid.name}}</td>
          <td> {{liquid.Dosage + liquid.Dosage_type}} </td>
        </tr>   
    </table>
      </div>
    </div>    

    <div class="col-md-4 col-md-offset-2">
    <div class="medTble">
      <table class="table table-bordered medBackground">
       <tr class="medBackground">
          <th>לפני</th>
          <th>שם התרופה</th>
          <th>כמות</th>
        </tr>
      <tr ng-repeat = "medication in medications">
          <td>
            {{timeGap(medication.date)}}
          </td>
          <td> {{medication.name}} </td>
          <td> {{medication.dosage + medication.dosageUnit}} </td>
        </tr>
      </table>
    </div>
   </div>
  </div>
 </div>

 <div class="col-md-12">
  <div class="row">
    <div class="col-md-6">
     <div class = "tableDesignB">
      <table  class="table table-bordered bBackground">
        <tr>
          <th rowspan="100">
            <div class ="treatLetter">B</div>
          </th>
        </tr>
        <tr class="bBackground">
          <th>לפני</th>
          <th>תיאור</th>
        </tr>
      <tr ng-repeat = "treatment in treatments.B">
          <td>{{timeGap(treatment.date)}}</td>
          <td> {{treatment.name}} </td>
      </tr>
    </table>
   </div>
  </div>

  <div class="col-md-6">   
      <div  class = "tableDesignA">
        <table class="table table-bordered aBackground">
          <tr>
            <th rowspan="100">
              <div class ="treatLetter">A</div>
            </th>
            </tr>
          <tr class="aBackground">
              <th>לפני</th>
              <th>תיאור</th>
          </tr>
          <tr ng-repeat = "treatment in treatments.A">
              <td>{{timeGap(treatment.date)}}</td>
              <td>{{treatment.name}}</td>
          </tr>
      </table>
    </div>
  </div>
  </div>
  </div>
 <div class="col-md-12">
  <div class="row">
    
    <div class="col-md-6">
<div  class = "tableDesignD">
        <table class="table table-bordered dBackground">

        <tr>
          <th rowspan="100">
            <div class ="treatLetter">D</div>
          </th>
        </tr>
        <tr class="dBackground">
          <th>לפני</th>
          <th>תיאור</th>
        </tr>
      <tr ng-repeat = "treatment in treatments.D">
          <td>{{timeGap(treatment.date)}}</td>
          <td> {{treatment.name}} </td>
      </tr>

    </table>

    </div>
    </div>
  
    <div class="col-md-6">
<div  class = "tableDesignC">
    <table class="table table-bordered cBackground">

        <tr>
          <th rowspan="100">
            <div class ="treatLetter">C</div>
          </th>
        </tr>
        <tr class="cBackground">
            <th>לפני</th>
          <th>תיאור</th>
        </tr>
        <tr ng-repeat = "treatment in treatments.C">
          <td>{{timeGap(treatment.date)}}</td>
          <td> {{treatment.name}} </td>
      </tr>

    </table>
    </div>
    </div>
  </div>
  </div>

  <a href="#injInfo">מעבר לנתוני פצוע</a> 
  </div>