<!DOCTYPE html>
<html ng-app="medApp">
    <head>
        <meta charset="UTF-8">
        <title>רפואה שלמה</title>
        <script src="/components/angular/angular.min.js" ></script>
        <script src="/components/angular/angular-aria.min.js" ></script>
        <script src="/components/angular/angular-messages.min.js" ></script>
        <script src="/components/angular/angular-animate.min.js" ></script>
        <script src="/components/angular-material/angular-material/angular-material.js" type="text/javascript"></script>    
        <link rel="stylesheet" href="/components/angular-material/angular-material/angular-material.css">
        <script src="/common/javascripts/mainCommon.js"></script>
        <script src="/common/javascripts/loginCardService.js" type="text/javascript"></script>
    </head>

    <body ng-controller="medController">
            
    </body>
</html>