<div>
    <table id = 'treatsDonutsTable' align="center">
        <tr class = 'treatsTitleRow'>
            <th>
             Vygon
            </th>
            <th>
            C.A.T
            </th>
        </tr>
        <tr>
            <td>
                <div>
                    <nvd3 options='options' data='dataVygon'></nvd3>
                </div>
            </td>
            <td>
                <div>
                    <nvd3 options='options' data='dataCAT'></nvd3>
                </div>
            </td>
        </tr>
        <tr>
            <th>
            נקז חזה
            </th>
            <th>
            תחבושת אישית
            </th>
        </tr>
        <tr>
            <td>
                <div>
                    <nvd3 options='options' data='dataNekezHaze'></nvd3>
                </div>
            </td>
            <td>
                <div>
                    <nvd3 options='options' data='dataCombatGauze'></nvd3>
                </div>
            </td>
        </tr>
    </table>
</div>